*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body{
	margin-top: 2em;	
}

.container:after{
    content:"";
    display:table;
}

.container:after{
	clear:both; 
}

.container{
	zoom:1; 
}

.container{
	width: 1000px;
	margin: 0 auto;
	background: lightgrey;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10{
	display: inline;
	float: left;
}

.grid_1{
	width: 10%;
}

.grid_2{
	width: 20%;
}

.grid_3{
	width: 30%;
}

.grid_4{
	width: 40%;
}

.grid_5{
	width: 50%;
}

.grid_6{
	width: 60%;
}

.grid_7{
	width: 70%;
}

.grid_8{
	width: 80%;
}

.grid_9{
	width: 90%;
}

.grid_10{
	width: 100%;
}

/*Style for grids*/

.title{
	padding-left: 10px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	background: grey;
	color: white;
}

.number{
	text-align: right;
	padding-right: 5px;
}

.bullet{
	text-indent: 5px;
	padding-bottom: 20px;
}
